.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подключаем сглаживание шрифтов */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* Подгонка размера текста */

  font-family: Inter, Arial, sans-serif;
  background-color: #000;
  min-width: 320px;
  min-height: 100vh;
}