.profile__info-heading {
	display: grid;
	grid-template-columns: minmax(100px, min-content) 24px;
	margin-right: 40px;
}

@media screen and (max-width: 768px) {
	.profile__info-heading {
		margin-right: 0;
		margin-left: 30px;
	}
}