.element__trash-button {
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  background-image: url('../../../images/Trash.svg');
  transition: .2s ease-in-out;
  cursor: pointer;
}

.element__trash-button:hover {
  opacity: .6;
}
