.profile__caption {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	margin-right: 50px;
	color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
	.profile__caption {
		margin-right: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 120px 52px 28px 1fr;
		justify-items: center;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		max-width: calc(100vw - 38px);
	}
}