.profile__add-button {
	width: 150px;
	height: 50px;
	border: 2px #fff solid;
	border-radius: 2px;
	background-color: #000;
	box-sizing: border-box;
	padding-top: 4px;
	cursor: pointer;
	background-image: url(../../../images/icon-plus.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: .2s ease-in-out;
}

@media screen and (max-width: 768px) {
	.profile__add-button {
		margin-top: 33px;
		width: 282px;
	}
}

.profile__add-button:hover {
	opacity: .6;
}